@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fefefe;
  color: #222;
  line-height: 1.6;
}
a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: #ff6347; /* Небольшой акцентный цвет при наведении */
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
button, .start-button {
  background-color: #222;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
button:hover, .start-button:hover {
  background-color: #444;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
